@import "global.scss";

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;

    ul{
        display: flex;
        flex-direction: row;
        gap: 1.875rem;

        li{
            a{
                color: $black;
                font-weight: bold;
            }
        }
    }

    .logo{
        p{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5rem;
            color: $black;

            span{
                font-style: italic;
                color: $primary;
            }
        }
    }

    .buttons{
        display: flex;
        align-items: center;
        gap: 1.25rem;

        #button-icon{
            &.download-curriculum{
                &:hover{
                    background-color: #999;
                    border-color: #999;
                    color: $white;
                }
            }

            &.button-whats{
                &:hover{
                    background-color: #09A405;
                    border-color: #09A405;
                    color: $white;
                }
            }
        }

       
    }
    
}